# --- Segurança (Variáveis de Ambiente) ---
.env

# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Arquivos do Sistema Operacional ---
Thumbs.db
.DS_Store
*.log

# --- Bancos de Dados Locais ---
*.db
*.mv.db
*.trace.db